.footer {

  margin-top: auto;
}


.search {
  margin-top: 50px;
  margin-bottom: 100px !important;


}


.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchcont {
  margin-bottom: 120px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 32px;
  height: 100vh;
  width: 185vh;
}

.searchcont1 {
  margin-bottom: 120px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 32px;
  height: 130vh;
  width: 185vh;

}

.title {
  
  font-family: 'Raleway';
  font-size: 80px;
  font-weight: 800 !important;
  color: #854426;
}

.drop {

  margin-left: 135px;
  margin-top: 100px;
  width: 200px !important;

}
.drop1 {

 
  background-color: #d1d8fa!important;
  color: #2e2c2c !important;
  border-color: #d1d8fa!important;

}

.container1 {
  height: 120vh;
  margin-bottom: 100px !important;

}

.but3 {
  margin-top: 330px;
  width: 200px;
  margin-left: 80px;
  background-color: #d1d8fa!important;
  color: #2e2c2c !important;
  border-color: #d1d8fa!important;

}

.link {
  text-decoration: none !important;
  color: #413e3e;
  padding-top: 100px;
}

.searchRslt {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchRslt1 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.rslt {
  margin-bottom: 120px !important;
  box-shadow: 0px 2px 4px rgba(1, 1, 1, 0.3);
  border-radius: 19px;
  width: 530px !important;
  height: 600px;
  margin-left: 15px;
}

.tool-bar {
  background-color: #222f3e;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.sidebar {
  position: absolute;
  background-color: #222f3e;
  color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  transform: translateX(-100%);
  transition: all 0.4s;
}

.sidebar li {
  list-style: none;
  padding: 1rem 2rem;
  border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
}

.sidebar li:hover {
  background-color: #fff;
  color: #000;
}

.sidebar--open {
  transform: translateX(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.navbar-brand {
  letter-spacing: 3px;
  color: #c24244;
}

.navbar-brand:hover {
  color: #c24244;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #7f4722;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #7f4722;
}

navbar-scrolled {
  background-color: #fbf7f5f9;
}

.navbar {
  
  background-color: #81c0ea;
}
.navbar1 {
  
  background-color: #d1d8fa;
}
.container1 {
  padding-top: 100px;
}

.cards {
  background-color: #f1f1f1;
}

/*********************************************************************************/
.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
  min-width: 1000px;
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
  padding-bottom: 15px;
  background: #299be4;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn:hover,
.table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.settings {
  color: #2196F3;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
}

.text-success {
  color: #10c469;
}

.text-info {
  color: #62c9e8;
}

.text-warning {
  color: #FFC107;
}

.text-danger {
  color: #ff5b5b;
}


.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}




body {
  font-family: 'Raleway', cursive;
  font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #edf6f9 !important;
  
}



.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  border: 1px solid #152733;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #152733;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #152733;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}


.form-content label,
.was-validated .form-check-input:invalid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
  color: #152733;
}

.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  outline: 0;
  border-radius: 6px;
  border: o.7px solid #152733;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #152733;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 50px;
  margin-bottom: 50px;
}


.btn-primary {
  background-color: #152733;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #152733;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #152733;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
  border: 0;
  background-color: #152733;
  color: #152733;
}

.mv-up {
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

.invalid-feedback {
  color: #ff606e;
}

.valid-feedback {
  color: #2acc80;
}

.lnk {
  text-decoration: none;
}

.dropdwn {
  background-color: #f2f2f2 !important;
}

.formbtn{
  margin-right: 10px;
}
.pic{
  position: relative;
  width: 100%;
  height: 0;
}
.picDiv img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.hero-header {
  background: url(./Assets/restau3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header1 {
  /*background: url(./Assets/restau1.jpg);*/
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.hero-header img {
  animation: imgRotate 50s linear infinite;
}*/

@keyframes imgRotate { 
  100% { 
      transform: rotate(360deg); 
  } 
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}
.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}
.btn9{
  background-color: #d1d8fa!important;
  color: #2e2c2c !important;
  border-color: #d1d8fa!important;
}
.tit1{
  font-family: 'Raleway' !important;
  font-weight: 800 !important;
  color: #3e2e21 !important;
}
.container-xxl {
  padding-left: 0;
  padding-right: 0;
}


.paper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
}

.mapContainer {
  height: 85vh;
  width: 100%;
  /*border-color: #e5e1de76!important;*/
}

.markerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.markerContainer:hover {
  z-index: 2;
}

.pointer {
  cursor: pointer;
}
/******************************************************************************************************/
body {
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 30px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
      width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.submit {
cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  padding-top: 15px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }}
/****************************************************************************/
.footer {
  background-color: #eee6d3;
}

.footer-link {
  color: #4f4f4f;
}

.footer-table {
  border-color: #666;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
}
.ipt{
  margin-top: 35px;
}
.drpdn{
  width: 457px;
  background-color: #ffffff !important;
  color: rgba(104, 99, 99, 0.906) !important;
  border-color: #d2d2d2 !important;
  
}